<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Liste des Produits</h2>
            <table class="table table-striped">
                <thead>
                    <tr><th scope="col">ID</th><th scope="col">Titre</th>
                        <th scope="col">Prix en Dt</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor=" let c of pdts">
                    <th scope="row">{{c.id}}</th>
                   
                    <td>{{c.titre}}</td> 
                    <td>{{c.prix}}</td>
                    <td><a href="#" class="btn btn-danger" (click)="delete(c.id)">supprimer produit</a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
